*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  background-color: #28292c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

body {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 600;
  line-height: 1.6rem;
  color: #5f5f5f;
  text-shadow: 1.5px 1.5px 3px #000; }

p {
  font-size: 2.2rem; }

.item_current-score {
  font-size: 3.5rem; }

h1 {
  font-size: 4rem;
  letter-spacing: 2px;
  font-weight: 600; }

.title {
  font-size: 5rem; }

.subtitle {
  font-size: 2rem; }

.btn_item {
  font-size: 2rem; }

.select-container {
  font-size: 2rem;
  color: #5f5f5f;
  text-shadow: 1.5px 1.5px 3px #000;
  font-weight: 600; }

.select-item {
  font-weight: 500; }

.player-name {
  color: #5f5f5f;
  text-shadow: 1.5px 1.5px 3px #000;
  font-weight: 600;
  font-size: 1.5rem; }

.select-players_text {
  font-size: 3rem; }

.playerWin {
  text-align: center;
  animation: bounce 0.8s infinite;
  animation-timing-function: cubic-bezier(0.47, -0.6, 0.1, 1.14); }

.playerWinGame {
  text-align: center;
  margin-top: 3rem;
  font-size: 3rem; }

.instructions_container {
  font-size: 1.5rem; }

@media only screen and (max-width: 1125px) {
  .player {
    font-size: 3rem; }
  .playerWinGame {
    font-size: 2.5rem;
    margin-top: 2rem; } }

@media only screen and (max-width: 1005px) {
  .player {
    font-size: 2rem; }
  .playerWin {
    font-size: 3rem; }
  .playerWinGame {
    font-size: 2.5rem; } }

@media only screen and (max-width: 760px) {
  .btn {
    font-size: 1.2rem; }
  .dice_instructions p {
    font-size: 1.5rem; }
  .instructions_container {
    font-size: 1rem; }
  .player {
    font-size: 1.5rem; }
  .item_current-score {
    font-size: 2.5rem; }
  .playerWin {
    font-size: 3rem; } }

@media only screen and (max-width: 670px) {
  .item_total--score,
  .total--score {
    font-size: 1.5rem; } }

@media only screen and (max-width: 410px) {
  .player {
    font-size: 1rem; }
  .playerWin {
    font-size: 3rem; }
  .playerWinGame {
    font-size: 2.5rem; } }

@media only screen and (max-width: 375px) {
  .title {
    font-size: 4rem; }
  .subtitle,
  .player-name {
    font-size: 1.2rem; }
  .select-players_text {
    font-size: 2.5rem; }
  .item_total--score {
    font-size: 1.2rem; }
  .item_current-score {
    font-size: 2rem; } }

@media only screen and (max-width: 300px) {
  .playerWin {
    font-size: 2.5rem; }
  .playerWinGame {
    font-size: 2rem;
    margin-top: 1rem; }
  .title {
    font-size: 3rem; }
  .select-players_text {
    font-size: 1.5rem; } }

@media only screen and (max-height: 510px) {
  .player-name {
    font-size: 1.1rem; }
  .btn {
    font-size: 1rem; } }

@media only screen and (max-height: 400px) {
  .title {
    font-size: 3.5rem; }
  .subtitle {
    font-size: 1.5rem; }
  .select-players_text {
    font-size: 2rem; }
  .playerWin {
    font-size: 2rem; }
  .playerWinGame {
    font-size: 1.5rem; } }

@media only screen and (max-height: 300px) {
  .btn {
    font-size: 1rem; }
  .dice_instructions p {
    font-size: 1.2rem; }
  .select-players_text {
    font-size: 1.5rem; }
  .item_current-score {
    font-size: 2rem; }
  .item_total--score,
  .total--score {
    font-size: 1.2rem; } }

.btn {
  background-color: transparent;
  box-shadow: inset 3px 3px 3px #5f5f5f, inset -3px -3px 3px #000;
  padding: 1rem;
  color: #5f5f5f;
  text-shadow: 1.5px 1.5px 3px #000;
  font-weight: 600;
  width: 7rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s all; }
  .btn:active {
    box-shadow: inset 3px 3px 3px #000, inset -3px -3px 3px #5f5f5f;
    transform: translateY(1px);
    text-shadow: 2px 3px 5px #000; }

.btns-up,
.btns-down {
  display: flex;
  justify-content: space-between;
  position: relative; }

.btn_menu_win {
  margin-right: 3rem;
  height: 100%; }

@media only screen and (max-width: 760px) {
  .btn {
    width: 5.5rem; } }

@media only screen and (max-width: 550px) and (min-height: 670px) {
  .btn_menu {
    position: absolute;
    top: 2rem;
    left: -6.8rem;
    height: 53px; }
  .btn_new-game {
    position: absolute;
    top: 2rem;
    left: 16.3rem;
    height: 53px; }
  .btn_roll {
    position: absolute;
    top: -7.3rem;
    left: -6.8rem;
    height: 53px; }
  .btn_hold {
    position: absolute;
    top: -7.3rem;
    left: 16.3rem;
    height: 53px; }
  .btn_menu_win,
  .btn_new-game_win {
    position: inherit;
    top: 0;
    left: 0; } }

@media only screen and (max-width: 410px) {
  .btn_menu,
  .btn_new-game,
  .btn_roll,
  .btn_hold {
    position: relative;
    top: inherit;
    left: inherit;
    height: inherit; }
  .btn {
    width: 4.5rem;
    font-size: 1rem; }
  .btn_menu_win,
  .btn_new-game_win {
    height: 100%; } }

@media only screen and (max-height: 670px) and (max-width: 670px) {
  .btn {
    padding: 0.6rem;
    width: 4.5rem; }
  .btns-up {
    top: 1.5rem; }
  .btns-down {
    bottom: 1.5rem; } }

@media only screen and (max-height: 670px) and (max-width: 410px) {
  .btns-up {
    top: 0.8rem; } }

@media only screen and (max-height: 510px) {
  .btn {
    padding: 0.6rem;
    width: 4.5rem; }
  .btns-up {
    top: 1.5rem; }
  .btns-down {
    bottom: 1.5rem; } }

@media only screen and (max-height: 300px) {
  .btn {
    padding: 0.6rem; }
  .btn_menu {
    position: absolute;
    top: 0.5rem;
    left: -4.5rem;
    height: 34px;
    width: 4rem; }
  .btn_new-game {
    position: absolute;
    top: 0.5rem;
    left: 12rem;
    height: 34px;
    width: 4rem; }
  .btn_roll {
    position: absolute;
    top: -3.8rem;
    left: -4.5rem;
    height: 34px;
    width: 4rem; }
  .btn_hold {
    position: absolute;
    top: -3.8rem;
    left: 12rem;
    height: 34px;
    width: 4rem; }
  .btn_menu_win,
  .btn_new-game_win {
    position: inherit;
    top: 0;
    left: 0; } }

.logo {
  width: 6rem;
  margin-bottom: 3rem; }

.title {
  margin-bottom: 2rem; }

.btn_item {
  margin: 1rem;
  width: inherit; }

.instructions_container {
  width: 60%;
  background-color: transparent;
  box-shadow: inset 3px 3px 3px #000, inset -3px -3px 3px #5f5f5f;
  padding: 2rem;
  padding-left: 4rem;
  color: #5f5f5f;
  text-shadow: 1.5px 1.5px 3px #000;
  font-weight: 600;
  line-height: 3rem;
  text-align: justify; }
  .instructions_container--dice {
    height: 2rem; }

.dice_instructions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  line-height: 5rem; }
  .dice_instructions_item {
    display: flex;
    align-items: center; }
    .dice_instructions_item:not(:last-child) {
      margin-right: 2rem; }

.select-players {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .select-players_text {
    margin-bottom: 1rem; }

.player-names {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }

.player-name {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: transparent;
  box-shadow: inset 3px 3px 3px #5f5f5f, inset -3px -3px 3px #000;
  border: none;
  outline: none;
  padding: 1rem; }
  .player-name:focus {
    box-shadow: inset 3px 3px 3px #000, inset -3px -3px 3px #5f5f5f; }

@media only screen and (max-width: 1325px) {
  .instructions_container {
    width: 80%; } }

@media only screen and (max-width: 1005px) {
  .instructions_container {
    width: 90%; } }

@media only screen and (max-width: 760px) {
  .dice_instructions {
    line-height: 3rem; }
  .instructions_container--dice {
    height: 1.5rem; } }

@media only screen and (max-width: 510px) {
  .instructions_container {
    line-height: 2rem;
    padding: 1rem 1rem 1rem 2.5rem; } }

@media only screen and (max-width: 375px) {
  .title {
    margin-bottom: 1rem; }
  .dice_instructions_item:not(:last-child) {
    margin-right: 1rem; } }

@media only screen and (max-width: 300px) {
  .instructions_container {
    padding: 1rem;
    line-height: 1.5rem; }
    .instructions_container li {
      list-style: none; }
  .dice_instructions {
    line-height: 2.5rem; }
  .player-name {
    width: 12rem; } }

@media only screen and (max-height: 550px) {
  .instructions_container,
  .dice_instructions {
    line-height: 2rem; }
  .select-players {
    flex-direction: row;
    position: relative;
    margin-top: 4%; }
    .select-players_text {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -150%);
      width: 100%;
      text-align: center; }
  .player-name {
    width: 11rem; } }

@media only screen and (max-height: 550px) and (min-width: 600px) {
  .player-names {
    flex-direction: row; } }

@media only screen and (max-height: 430px) {
  .title {
    margin-bottom: 1rem; }
  .logo {
    width: 4rem;
    margin-bottom: inherit; }
  .btn_item {
    margin: 0.5rem; }
  .instructions_container {
    padding: 1rem;
    width: 95%; }
    .instructions_container ul {
      list-style: none; }
  .select-players {
    margin-top: 8%; } }

@media only screen and (max-height: 340px) {
  .instructions_container,
  .dice_instructions {
    line-height: 1.5rem;
    width: 96%; }
  .instructions_container--dice {
    height: 1.2rem; }
  .select-players {
    margin-top: 4%; }
    .select-players_text {
      transform: translate(-50%, -110%); }
  .player-name {
    padding: 0.8rem; } }

@media only screen and (max-height: 250px) {
  .instructions_container {
    line-height: 1.2rem; } }

.container {
  width: 80%;
  height: 90%;
  padding: 1.5rem;
  position: relative;
  box-shadow: inset 3px 3px 3px #000, inset -3px -3px 3px #5f5f5f; }
  .container_menu {
    height: 100%;
    box-shadow: inset 3px 3px 3px #5f5f5f, inset -3px -3px 3px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .container--small {
    height: 100%;
    display: grid;
    grid-template-rows: [row-1_start] 48.65% [row-1_end row-2_start] 1fr [row-2_end];
    grid-template-columns: [column-1_start] 49.1% [column-1_end column-2_start] 1fr [column-2_end];
    grid-gap: 1.5rem;
    position: relative; }
  .container_playerWin {
    height: 100%;
    box-shadow: inset 3px 3px 3px #5f5f5f, inset -3px -3px 3px #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .container_playerWin_trophy {
      height: 15rem;
      margin-bottom: 2rem;
      margin-left: 50%;
      transform: translate(-50%, 0); }

.playerWin_btns {
  display: flex;
  align-items: center; }

.item_container_total-score {
  display: flex;
  justify-content: center;
  display: wrap; }

.total--score {
  padding-left: 1rem; }

.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100; }

@media only screen and (max-width: 1005px) {
  .total--score {
    padding: 0 1rem; } }

@media only screen and (max-width: 760px) {
  .container {
    width: 90%; } }

@media only screen and (max-width: 670px) {
  .total--score {
    padding: 0 0 0 1rem; }
  .container--small {
    grid-template-columns: [column-1_start] 48.6% [column-1_end column-2_start] 1fr [column-2_end]; } }

@media only screen and (max-width: 510px) {
  .container--small {
    grid-template-columns: [column-1_start] 48% [column-1_end column-2_start] 1fr [column-2_end]; } }

@media only screen and (max-width: 375px) {
  .container {
    padding: 1rem; }
    .container_playerWin_trophy {
      height: 10rem; }
  .container--small {
    grid-gap: 1rem; } }

@media only screen and (max-width: 292px) {
  .total--score {
    padding: 0 1rem; } }

@media only screen and (max-width: 670px) and (max-height: 670px) {
  .container--small {
    grid-template-columns: [column-1_start] 49.2% [column-1_end column-2_start] 1fr [column-2_end];
    grid-gap: 1rem; } }

@media only screen and (max-width: 510px) and (max-height: 670px) {
  .container--small {
    grid-template-columns: [column-1_start] 48.5% [column-1_end column-2_start] 1fr [column-2_end];
    grid-gap: 1rem; } }

@media only screen and (max-height: 510px) and (min-width: 1250px) {
  .container--small {
    grid-template-columns: [column-1_start] 49.7% [column-1_end column-2_start] 1fr [column-2_end];
    grid-gap: 1rem; } }

@media only screen and (max-height: 510px) and (max-width: 1250px) {
  .container--small {
    grid-template-columns: [column-1_start] 49.5% [column-1_end column-2_start] 1fr [column-2_end];
    grid-gap: 1rem; } }

@media only screen and (max-height: 510px) and (max-width: 1005px) {
  .container--small {
    grid-template-columns: [column-1_start] 49.2% [column-1_end column-2_start] 1fr [column-2_end];
    grid-gap: 1rem; } }

@media only screen and (max-height: 510px) and (max-width: 510px) {
  .container--small {
    grid-template-columns: [column-1_start] 48.7% [column-1_end column-2_start] 1fr [column-2_end]; } }

@media only screen and (max-height: 510px) and (max-width: 410px) {
  .container--small {
    grid-template-columns: [column-1_start] 48% [column-1_end column-2_start] 1fr [column-2_end]; } }

@media only screen and (max-height: 510px) {
  .container_playerWin_trophy {
    height: 10rem; } }

@media only screen and (max-height: 400px) {
  .container--small {
    grid-template-columns: [column-1_start] 49% [column-1_end column-2_start] 1fr [column-2_end];
    grid-gap: 1rem; }
  .container_playerWin_trophy {
    height: 8rem; }
  .playerWinGame {
    margin-top: 1rem; } }

@media only screen and (max-height: 300px) {
  .container {
    padding: 1rem; }
    .container--small {
      grid-template-rows: [row-1_start] 48.65% [row-1_end row-2_start] 47% [row-2_end]; }
  .container_playerWin_trophy {
    height: 5rem; } }

.dice-container {
  width: 20rem;
  height: 20rem;
  padding: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #28292c;
  box-shadow: inset 3px 3px 3px #5f5f5f, inset -3px -3px 3px #000; }
  .dice-container--small {
    background-color: #28292c;
    box-shadow: inset 3px 3px 3px #000, inset -3px -3px 3px #5f5f5f;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    position: relative; }
  .dice-container--dice {
    width: 3.5rem;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 1px 1px 5px #000;
    position: absolute; }

.dice--1 {
  top: 2rem;
  left: 2rem; }

.dice--2 {
  top: 2rem;
  right: 2rem; }

.dice--3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.dice--4 {
  bottom: 2rem;
  left: 2rem; }

.dice--5 {
  bottom: 2rem;
  right: 2rem; }

@media only screen and (max-width: 760px) {
  .dice-container {
    width: 15rem;
    height: 15rem; }
  .dice-container--dice {
    width: 2.5rem; } }

@media only screen and (max-width: 410px) {
  .dice-container--dice {
    width: 2rem; }
  .dice-container {
    width: 13rem;
    height: 13rem; } }

@media only screen and (max-height: 670px) and (max-width: 670px) {
  .dice-container {
    width: 11.5rem;
    height: 11.5rem; }
    .dice-container--dice {
      width: 1.5rem; } }

@media only screen and (max-height: 510px) {
  .dice-container {
    width: 11.5rem;
    height: 11.5rem; }
    .dice-container--dice {
      width: 1.5rem; } }

.item {
  z-index: 10;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; }
  .item--1 {
    box-shadow: inset 3px 3px 3px #5f5f5f, inset -3px -3px 3px #000; }
  .item--2 {
    box-shadow: inset 3px 3px 3px #5f5f5f, inset -3px -3px 3px #000;
    align-items: flex-end; }
  .item--3 {
    box-shadow: inset 3px 3px 3px #5f5f5f, inset -3px -3px 3px #000;
    flex-direction: column-reverse; }
  .item--4 {
    box-shadow: inset 3px 3px 3px #5f5f5f, inset -3px -3px 3px #000;
    align-items: flex-end;
    flex-direction: column-reverse; }
  .item_container {
    box-shadow: inset 3px 3px 3px #000, inset -3px -3px 3px #5f5f5f;
    width: 60%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem; }
    .item_container_total-score {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      line-height: 2.5rem; }

@media only screen and (max-width: 670px) {
  .item {
    padding: 2rem; }
    .item_container {
      width: 100%;
      height: 40%; } }

@media only screen and (max-width: 550px) {
  .item {
    justify-content: inherit; } }

@media only screen and (max-width: 410px) {
  .item_container {
    height: 35%; } }

@media only screen and (max-width: 375px) {
  .item {
    padding: 1rem; } }

@media only screen and (max-height: 510px) {
  .item_container {
    width: 80%;
    height: 60%; } }

@media only screen and (max-height: 410px) {
  .item_container {
    width: 60%;
    height: 75%; } }

@media only screen and (max-height: 300px) {
  .item {
    padding: 1rem; }
    .item_container {
      width: 50%; } }

.hidden {
  display: none; }

.player-active {
  background-color: #1e1f23; }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(-20px); }
  50% {
    transform: rotate(-2deg); }
  75% {
    transform: rotate(2deg); }
  100% {
    transform: translateY(0); } }
