$color-primary: #28292c;
$color-active: #1e1f23;
$color-secundary: #5f5f5f;

$inner-shadow: inset 3px 3px 3px #000, inset -3px -3px 3px $color-secundary;
$outer-shadow: inset 3px 3px 3px $color-secundary, inset -3px -3px 3px #000;
