.btn {
  background-color: transparent;
  box-shadow: $outer-shadow;
  padding: 1rem;
  color: $color-secundary;
  text-shadow: 1.5px 1.5px 3px #000;
  font-weight: 600;
  width: 7rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s all;

  &:active {
    box-shadow: $inner-shadow;
    transform: translateY(1px);
    text-shadow: 2px 3px 5px #000;
  }
}

.btns-up,
.btns-down {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.btn_menu_win {
  margin-right: 3rem;
  height: 100%;
}

// Responsive
@media only screen and(max-width: 760px) {
  .btn {
    width: 5.5rem;
  }
}

@media only screen and(max-width: 550px) and(min-height: 670px) {
  .btn_menu {
    position: absolute;
    top: 2rem;
    left: -6.8rem;
    height: 53px;
  }
  .btn_new-game {
    position: absolute;
    top: 2rem;
    left: 16.3rem;
    height: 53px;
  }
  .btn_roll {
    position: absolute;
    top: -7.3rem;
    left: -6.8rem;
    height: 53px;
  }
  .btn_hold {
    position: absolute;
    top: -7.3rem;
    left: 16.3rem;
    height: 53px;
  }
  .btn_menu_win,
  .btn_new-game_win {
    position: inherit;
    top: 0;
    left: 0;
  }
}

@media only screen and(max-width: 410px) {
  .btn_menu,
  .btn_new-game,
  .btn_roll,
  .btn_hold {
    position: relative;
    top: inherit;
    left: inherit;
    height: inherit;
  }
  .btn {
    width: 4.5rem;
    font-size: 1rem;
  }
  .btn_menu_win,
  .btn_new-game_win {
    height: 100%;
  }
}

// Height Media Query
@media only screen and(max-height: 670px) and(max-width: 670px) {
  .btn {
    padding: 0.6rem;
    width: 4.5rem;
  }
  .btns-up {
    top: 1.5rem;
  }
  .btns-down {
    bottom: 1.5rem;
  }
}
@media only screen and(max-height: 670px) and(max-width: 410px) {
  .btns-up {
    top: 0.8rem;
  }
}

@media only screen and(max-height: 510px) {
  .btn {
    padding: 0.6rem;
    width: 4.5rem;
  }
  .btns-up {
    top: 1.5rem;
  }
  .btns-down {
    bottom: 1.5rem;
  }
}

@media only screen and(max-height: 300px) {
  .btn {
    padding: 0.6rem;
  }
  .btn_menu {
    position: absolute;
    top: 0.5rem;
    left: -4.5rem;
    height: 34px;
    width: 4rem;
  }
  .btn_new-game {
    position: absolute;
    top: 0.5rem;
    left: 12rem;
    height: 34px;
    width: 4rem;
  }
  .btn_roll {
    position: absolute;
    top: -3.8rem;
    left: -4.5rem;
    height: 34px;
    width: 4rem;
  }
  .btn_hold {
    position: absolute;
    top: -3.8rem;
    left: 12rem;
    height: 34px;
    width: 4rem;
  }
  .btn_menu_win,
  .btn_new-game_win {
    position: inherit;
    top: 0;
    left: 0;
  }
}
